# Environment variables configuration example

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_USERS_SERVICE_URL=http://localhost:3001
NEXT_PUBLIC_COMPLAINTS_SERVICE_URL=http://localhost:3002
NEXT_PUBLIC_MEDIA_SERVICE_URL=http://localhost:3003

# MapTiler API Key (Optional; fallback vector tiles loaded if empty)
NEXT_PUBLIC_MAPTILER_API_KEY=
