PORT=3005
GATEWAY_PORT=3005
USERS_SERVICE_URL=http://localhost:3001
COMPLAINTS_SERVICE_URL=http://localhost:3002
MEDIA_SERVICE_URL=http://localhost:3003
MAPS_SERVICE_URL=http://localhost:3004

JWT_SECRET=urbanreports_super_secret_jwt_key_2026
FRONTEND_URL=http://localhost:3000
